YASB_WEATHER_API_KEY={{- onepasswordRead "op://Personal/Chezmoi/weatherApiKey" }}
YASB_WEATHER_LOCATION="{{- onepasswordRead "op://Personal/Chezmoi/weatherLocation" }}"
YASB_GITHUB_TOKEN={{- onepasswordRead "op://Personal/Chezmoi/gitHubToken" }}
