{{- if eq .chezmoi.os "windows" }}
[".config/PowerShell"]
    type = "git-repo"
    url = "git@github.com:deltoss/MyPowerShellProfile.git"
    urls = [
      "git@github.com:deltoss/MyPowerShellProfile.git",
      "https://github.com/deltoss/MyPowerShellProfile.git"
    ]
    refreshPeriod = "168h"
{{- end }}

[".config/nushell"]
    type = "git-repo"
    url = "git@github.com:deltoss/nushell-config.git"
    urls = [
      "git@github.com:deltoss/nushell-config.git",
      "https://github.com/deltoss/nushell-config.git"
    ]
    refreshPeriod = "168h"

[".config/nvim"]
    type = "git-repo"
    url = "git@github.com:deltoss/kickstart.nvim.git"
    urls = [
      "git@github.com:deltoss/kickstart.nvim.git",
      "https://github.com/deltoss/kickstart.nvim.git"
    ]
    refreshPeriod = "168h"

[".config/wezterm"]
    type = "git-repo"
    url = "git@github.com:deltoss/wezterm-config.git"
    urls = [
      "git@github.com:deltoss/wezterm-config.git",
      "https://github.com/deltoss/wezterm-config.git"
    ]
    refreshPeriod = "168h"