{{- if eq .chezmoi.os "windows" }}
[cd]
  command = "pwsh"
{{- end }}

{{ $email := promptStringOnce . "email" "What is your email address (for git)" -}}
{{ $username := promptStringOnce . "username" "What is your username (for git)" -}}
{{ $computerPurposeChoices := list "personal" "work" -}}
{{ $computerPurpose := promptChoiceOnce . "computerPurpose" "What type of computer are you on" $computerPurposeChoices -}}
[data]
  email = {{ $email | quote }}
  username = {{ $username | quote }}
  computerPurpose = {{ $computerPurpose | quote }}

[diff]
  pager = "delta"

[merge]
  command = "nvim"
  args = [
    "-d",
    {{ printf "%q" "{{ .Destination }}" }},
    {{ printf "%q" "{{ .Source }}" }},
    # Commented below as changing this panel won't actually merge in the edits made to it
    # {{ printf "%q" "{{ .Target }}" }},
  ]
