[user]
	name = {{ .username | quote }}
	email = {{ .email | quote }}
[core]
	autocrlf = false
	sshCommand = C:/Windows/System32/OpenSSH/ssh.exe
	editor = nvim
	pager = delta
	hooksPath = ~/.config/git/hooks
[interactive]
	diffFilter = delta --color-only
[delta]
	navigate = true
	light = true
	side-by-side = true
[merge]
	conflictStyle = zdiff3
	tool = diffview
	renormalize = true
[mergetool]
	prompt = false
	keepBackup = false
[mergetool "diffview"]
	cmd = nvim -n -c "DiffviewOpen" "$MERGE"
[alias]
	c = commit
	ac = commit -a
	m = merge --ignore-cr-at-eol
	rb = rebase -i
	s = status -sb
	l = log --all --color=always --pretty=format:\"%C(yellow)%h%C(reset) %C(green)%ad%C(reset) %C(blue)(%an)%C(reset) %s → %H\" --date=format:\"%Y-%m-%d %I:%M %p\"
	co = checkout
	b = branch
	amend = commit --amend --no-edit
	undo = reset --soft HEAD~1
	aliases = config --get-regexp alias
	today = log --since='midnight' --oneline --author={{ .username | quote }}
