{{- if eq .computerPurpose "personal" -}}
[media-dav]
type = webdav
url = {{ .copyparty_website }}
vendor = owncloud
pacer_min_sleep = 0.01ms
user = {{ .copyparty_username }}
pass = 

[personal-google-drive]
type = drive
client_id = {{ .rclone_personal_gdrive_client_id }}
client_secret = {{ .rclone_personal_gdrive_client_secret }}
scope = drive
token = 
team_drive = 

{{ end -}}
[notes-google-drive]
type = drive
client_id = {{ .rclone_notes_gdrive_client_id }}
client_secret = {{ .rclone_notes_gdrive_client_secret }}
scope = drive
token = 
team_drive = 