{{- $config := dict -}}
{{- $config = ( .ssh_connections | fromToml) -}}

{{- if $config }}
{{- range $config.hosts -}}
Host {{ .alias }}
  HostName {{ .hostname }}
  User {{ .user }}
{{- if hasKey . "macs" }}
  MACs {{ .macs }}
{{- end }}
{{- if hasKey . "port" }}
  Port {{ .port }}
{{- end }}
{{- if hasKey . "identityFile" }}
  IdentityFile {{ .identityFile }}
{{- end }}

{{ end }}
{{- end -}}