# For defaults, see:
#   https://github.com/sxyazi/yazi/tree/shipped/yazi-config/preset

[mgr]
prepend_keymap = [
  { on = "<Space>", run = 'noop', desc = "Disables the default selection state toggle key" },
  { on = "<Tab>", run = [
    "toggle",
    "arrow next",
  ], desc = "Toggle the current selection state" },
  { on = "i", run = "spot", desc = "Spot hovered file" },
  { on = "<C-Esc>", run = 'escape --search', desc = "Cancel the ongoing search" },
  { on = "Z", run = "plugin fzf", desc = "Jump to a file/directory via fzf" },
  { on = "z", run = "plugin zoxide", desc = "Jump to a directory via zoxide" },
  { on = "!", run = 'shell "$SHELL" --block', desc = "Open $SHELL here", for = "unix" },
  { on = "!", run = 'shell "nu.exe" --block', desc = "Open terminal here", for = "windows" },
  { on = "T", run = 'shell "$SHELL" --block', desc = "Open $SHELL here", for = "unix" },
  { on = "T", run = 'shell "nu.exe" --block', desc = "Open terminal here", for = "windows" },
  { on = "_", run = "back", desc = "Back to previous directory" },
  { on = "+", run = "forward", desc = "Forward to next directory" },
  { on = "<Enter>", run = "plugin smart-enter", desc = "Enter the child directory, or open the file" },

	# Copy
	{ on = [ "<Space>", "y", "c" ], run = "copy path",             desc = "Copy the file path" },
	{ on = [ "<Space>", "y", "d" ], run = "copy dirname",          desc = "Copy the directory path" },
	{ on = [ "<Space>", "y", "f" ], run = "copy filename",         desc = "Copy the filename" },
	{ on = [ "<Space>", "y", "n" ], run = "copy name_without_ext", desc = "Copy the filename without extension" },

  # Dotnet CLI Bindings
  { on = [
    "<Space>",
    "n",
    "n",
  ], run = 'shell "pwsh.exe -NoExit -Command \"Invoke-DotNetCommand\"" --block', desc = "Invoke a DotNet Command" },
  { on = [
    "<Space>",
    "n",
    "c",
  ], run = 'shell "pwsh.exe -NoExit -Command \"Invoke-DotNetCommand\"" --block', desc = "Invoke a DotNet Command" },
  { on = [
    "<Space>",
    "n",
    "i",
  ], run = 'shell "pwsh.exe -Command \"New-DotNetItem\"" --block', desc = "Add a DotNet Item" },
  { on = [
    "<Space>",
    "n",
    "p",
  ], run = 'shell "pwsh.exe -Command \"New-DotNetProject\"" --block', desc = "Add a DotNet Project" },

  { on = [
    "<Space>",
    "a",
    "a",
  ], run = 'create', desc = "Add a file/directory" },
  { on = [
    "<Space>",
    "a",
    "d",
  ], run = 'create --dir', desc = "Add a directory" },
  { on = [
    "<Space>",
    "s",
    "e",
  ], run = 'shell "pwsh.exe --Command \"ya emit cd (Search-Query)\"" --block', desc = "Search via Everything" },
  { on = [
    "<Space>",
    "s",
    "z",
  ], run = "plugin zoxide", desc = "Search common directories via zoxide" },
  { on = [
    "<Space>",
    "s",
    "f",
  ], run = "plugin fzf", desc = "Search files by name via fzf" },
  { on = [
    "<Space>",
    "s",
    "F",
  ], run = "search --via=fd", desc = "Search files by name via fd" },
  { on = [
    "<Space>",
    "s",
    "g",
  ], run = "search --via=rg", desc = "Search files by content via ripgrep" },

  { on = [
    "<Space>",
    "g",
    "g",
  ], run = 'shell "lazygit" --block', desc = "Open lazygit" },
]
append_keymap = [
  { on = "<C-e>", run = "arrow 50%", desc = "Move cursor down half page" },
  { on = "<C-Left>", run = "back", desc = "Back to previous directory" },
  { on = "<C-Right>", run = "forward", desc = "Forward to next directory" },
  { on = "<A-Left>", run = "back", desc = "Back to previous directory" },
  { on = "<A-Right>", run = "forward", desc = "Forward to next directory" },
  { on = "<C-PageUp>", run = "seek -10", desc = "Seek up 10 units in the preview" },
  { on = "<C-PageDown>", run = "seek 10", desc = "Seek down 10 units in the preview" },
]

[spot]
prepend_keymap = [{ on = "i", run = "close", desc = "Close the spot" }]