{{- $config := dict -}}
{{- if eq .computerPurpose "personal" -}}
{{- $config = (onepasswordRead "op://Personal/SSH Connections/notesPlain" | fromToml) -}}
{{- else if eq .computerPurpose "work" -}}
{{- $config = (onepasswordRead "op://Work/SSH Connections/notesPlain" | fromToml) -}}
{{- end -}}

{{- if $config }}
{{- range $config.hosts -}}
[services.{{ .alias }}]
type = "sftp"
host = {{ .hostname | quote }}
user = {{ .user | quote }}
{{- if hasKey . "port" }}
port = {{ .port }}
{{- else }}
port = 22
{{- end }}

{{ end }}
{{- end -}}