{{- $config := dict -}}
{{- $config = ( .ssh_connections | fromToml) -}}

{{- if $config }}
{{- range $config.hosts -}}
[services.{{ .alias }}]
type = "sftp"
host = {{ .hostname | quote }}
user = {{ .user | quote }}
{{- if hasKey . "port" }}
port = {{ .port }}
{{- else }}
port = 22
{{- end }}

{{ end }}
{{- end -}}