[Desktop Entry]
Type=Application
Name=Network Manager (nmtui)
Comment=WiFi and network manager
Exec=wezterm start --class nmtui -- nmtui
Icon=network-wireless
Terminal=false
Categories=Settings;Network;
Keywords=wifi;network;internet;connect;
