{
  "env": {
    "EDITOR": "zellij run --in-place --close-on-exit --block-until-exit --name edit-prompt -- nvim"
  },
  "hooks": {
    "SessionStart": [
      {
        "matcher": "startup|resume|clear",
        "hooks": [
          {
            "type": "command",
            "command": "echo 'Load the caveman skill and activate lite mode. Acknowledge only with: [caveman lite active]'"
          }
        ]
      },
    ],
  },
  "enabledPlugins": {
    "atlassian@claude-plugins-official": true
  },
  "autoUpdatesChannel": "latest",
  "skipDangerousModePermissionPrompt": true,
  "theme": "light"
}