{
{{- if eq .computerPurpose "personal" }}
  "apiKeyHelper": "echo {{ onepasswordRead "op://Personal/Claude AI - Personal/CLAUDECODE/API Key" }}"
{{- else if eq .computerPurpose "work" }}
{{- end }}
  "autoUpdatesChannel": "latest"
}