layout name="Coding" {
    pane size=1 borderless=true {
        plugin location="tab-bar"
    }
    pane split_direction="vertical" {
        pane size="65%" stacked=true {
          pane {
              name "Main"
              command "nu"
              args "-e" "y"
              expanded true
              focus true
          }
        }
        pane split_direction="horizontal" size="35%" stacked=true {
            pane {
                name "Terminal"
                command "nu"
                start_suspended true
                expanded true
            }
            pane {
                name "OpenCode"
                command "opencode"
                start_suspended true
            }
            pane {
                name "Claude"
                command "claude"
                start_suspended true
            }
            pane {
                name "HTTP"
                command "nvim"
                args "~/HTTP/"
                start_suspended true
            }
            pane {
                name "Sessions"
                plugin location="zellij:session-manager"
            }
        }
    }
    pane size=1 borderless=true {
        plugin location="status-bar"
    }
}
