layout {
    pane_template name="tools_pane" {
        pane stacked=true {
            pane {
                name "Terminal"
                command "nu"
                start_suspended true
                expanded true
            }
            pane {
                name "OpenCode"
                command "opencode"
                start_suspended true
            }
            pane {
                name "Claude"
                command "claude"
                start_suspended true
            }
            pane {
                name "Sessions"
                plugin location="zellij:session-manager"
            }
        }
    }
    tab_template name="config_tab" {
        pane size=1 borderless=true {
            plugin location="tab-bar"
        }
        pane split_direction="vertical" {
            pane size="65%" stacked=true {
              pane {
                  name "Editor"
                  command "nu"
                  args "-e" "y"
                  start_suspended true
                  expanded true
                  focus true
              }
            }
            tools_pane size="35%"
        }
        pane size=1 borderless=true {
            plugin location="status-bar"
        }
    }

    config_tab name="Config" cwd="~/.config"
    config_tab name="Neovim" cwd="~/.config/nvim"
    config_tab name="Nushell" cwd="~/.config/nushell"
    config_tab name="Wezterm" cwd="~/.config/wezterm"

    tab name="Chezmoi" {
        pane size=1 borderless=true {
            plugin location="tab-bar"
        }
        pane split_direction="vertical" {
            pane size="65%" stacked=true {
              pane {
                  name "Editor"
                  command "nu"
                  args "-e" "cd (^chezmoi source-path | str trim); y"
                  start_suspended true
                  expanded true
                  focus true
              }
            }
            pane size="35%" stacked=true {
                pane {
                    name "Terminal"
                    command "nu"
                    args "-e" "cd (^chezmoi source-path | str trim)"
                    start_suspended true
                    expanded true
                }
                pane {
                    name "OpenCode"
                    command "nu"
                    args "-n" "-c" "cd (^chezmoi source-path | str trim); opencode"
                    command "opencode"
                    start_suspended true
                }
                pane {
                    name "Claude"
                    command "nu"
                    args "-n" "-c" "cd (^chezmoi source-path | str trim); claude"
                    start_suspended true
                }
                pane {
                    name "Sessions"
                    plugin location="zellij:session-manager"
                }
            }
        }
        pane size=1 borderless=true {
            plugin location="status-bar"
        }
    }
    tab name="Servers Chezmoi" {
        pane size=1 borderless=true {
            plugin location="tab-bar"
        }
        pane split_direction="vertical" {
            pane size="65%" stacked=true {
              pane {
                  name "Editor"
                  command "nu"
                  args "-e" "cd (^zoxide query serversdotfiles | str trim); y"
                  start_suspended true
                  expanded true
                  focus true
              }
            }
            pane stacked=true size="35%" {
                pane {
                    name "Terminal"
                    command "nu"
                    args "-e" "cd (^zoxide query serversdotfiles | str trim)"
                    start_suspended true
                    expanded true
                }
                pane {
                    name "OpenCode"
                    command "nu"
                    args "-n" "-c" "cd (^zoxide query serversdotfiles | str trim); opencode"
                    command "opencode"
                    start_suspended true
                }
                pane {
                    name "Claude"
                    command "nu"
                    args "-n" "-c" "cd (^zoxide query serversdotfiles | str trim); claude"
                    start_suspended true
                }
                pane {
                    name "Sessions"
                    plugin location="zellij:session-manager"
                }
            }
        }
        pane size=1 borderless=true {
            plugin location="status-bar"
        }
    }

}
