layout {
    default_tab_template {
        pane size=1 borderless=true {
            plugin location="tab-bar"
        }
        pane stacked=true {
            pane {
                name "Editor"
                command "nu"
                args "-e" "y"
                start_suspended true
                expanded true
                focus true
            }
            children
            pane {
                name "OpenCode"
                command "opencode"
                start_suspended true
            }
            pane {
                name "Claude"
                command "claude"
                args "--allow-dangerously-skip-permissions"
                start_suspended true
            }
            pane {
                name "Sessions"
                plugin location="zellij:session-manager"
            }
        }
        pane size=1 borderless=true {
            plugin location="status-bar"
        }
    }

    tab name="Org Notes" split_direction="vertical" cwd="~/Documents/Org Notes"
    tab name="Note Taking" split_direction="vertical" cwd="~/Documents/Note Taking"
}
