layout name="Launch" {
    pane size=1 borderless=true {
        plugin location="tab-bar"
    }
    pane stacked=true {
        pane {
            name "Launch"
            command "nu"
            args "--no-config-file" "--no-std-lib" "~/.config/nushell/custom-commands/quick-launch.nu"
            focus true
            expanded true
        }
        pane {
            name "Sessions"
            plugin location="zellij:session-manager"
        }
    }
    pane size=1 borderless=true {
        plugin location="status-bar"
    }
}
