# see https://github.com/sigoden/aichat/blob/main/config.example.yaml

model: claude
light_theme: true
clients:
- type: claude
  api_key: {{ onepasswordRead "op://Personal/Claude AI - Personal/AICHAT/API Key" }}
- type: openai
  api_key: {{ onepasswordRead "op://Personal/OpenAI - Personal/AICHAT/API Key" }}