{{ if eq .chezmoi.os "windows" -}}

# Self-elevate the script if required
if (-Not ([Security.Principal.WindowsPrincipal] [Security.Principal.WindowsIdentity]::GetCurrent()).IsInRole([Security.Principal.WindowsBuiltInRole] 'Administrator')) {
  if ([int](Get-CimInstance -Class Win32_OperatingSystem | Select-Object -ExpandProperty BuildNumber) -ge 6000) {
    $CommandLine = "-NoExit -NoProfile -NoLogo -File `"" + $MyInvocation.MyCommand.Path + "`" " + $MyInvocation.UnboundArguments
    Start-Process -Wait -FilePath pwsh.exe -Verb Runas -ArgumentList $CommandLine
    Exit
  }
}

& ([scriptblock]::Create((iwr "https://raw.githubusercontent.com/deltoss/nerd-fonts-installer-PS/main/Invoke-NerdFontInstaller.ps1"))) -Confirm:$false -Name {{ .fonts.windows | quoteList | join ", " }}

Write-Host "Review the output, then type 'exit' + enter..."

{{ end -}}
